*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.container{
    max-width: 1000px;
    margin:0 auto;
    padding:0 30px;
    
}

.navbar{
    background-color: #1F2937;
}

.navbar .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    }

.navbar ul{
    display:flex;
    list-style-type: none;
    gap:15px;
}

a {
    color:#E5E7EB;
    text-decoration: none;
}
.logo{
    height:50px;
    width:200px;
}

.hero{
    background-color: #1F2937;
    color:#E5E7EB;
}

.hero .container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    }

.hero h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight:bolder;
    line-height: 0.8;
    margin:20px 0;
}

.hero p{
    max-width: 400px;
}

.heroimage{
   height: 400px;
   margin: 20px 0;
   border-radius: 20%;
}

.box img{
    height: 200px;
    width:150px;
    border-radius:15px 50px 30px;
    border:solid 6px #1F2937;
}

.boxes .container{
    display:flex;
    margin: 20px auto;
    justify-content: space-evenly;
}

.boxes .box-text{
    max-width: 150px;
    text-align:center;
    color:rgb(72, 70, 70);
    
}

.boxes h2{
 text-align: center;
 margin-top:20px;
 font-size: 35px;

}

.quote .container{
    background: lightgray;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
    
}

.quote .container .quote-text{
    font-size: 36px;
    font-style: italic;
    color: grey;
    margin: 40px 0;
}

.quote .container .quote-sig{
   font-weight: bold;
   font-size: 36px;
    font-style: italic;
    color: rgb(69, 67, 67);
    align-self: end;
    margin-bottom: 20px;

}

.subscription .container{
    display:flex;
    margin:40px auto;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    padding:40px 80px;
    color:white;
    border-radius: 15px 50px;
}

button{
    padding:5px 20px;
    background-color:#3882F6 ;
    border: solid white 2px;
    border-radius: 10%;
    font-weight: bold;
    color:white;
    font-size: 20px;
}

.footer{
    text-align: center;
    background-color:#1F2937;
    padding: 20px;
    color:white;
}